
@font-face {
  font-family: "Array";
  src: url('../Fonts/Array-Wide.otf') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

.black-unity-theme {
  --main-text: #e9e9e9;
  --main-bg: #090909;
  --main-bg-transparent: transparent;
  .is-dark-theme{ display: block; }
  .is-light-theme{ display: none; }
}

.black-unity-theme .text-red{
  color: #b6393d;
}
.black-unity-theme .text-yellow{
  color: #b7a643;
}
.black-unity-theme .text-green{
  color: #359b65;
}
.black-unity-theme .text-dark-red{
  color: #a33b3b;
}
.black-unity-theme .text-dark-yellow{
  color: #b7a53b;
}
.black-unity-theme .text-dark-green{
  color: #20824e;
}

.black-unity-theme .is-desktop .main .section .container .text::selection{
  color: #dbc54e;
  background-color: transparent;
}

.black-unity-theme .main .section .container .title{
  font-family: "Array";
  font-size: 5rem!important;
  margin-bottom: .5rem!important;
}

.black-unity-theme .color-theme-icon{
  display: none;
}