* {
  color: var(--main-text);
  font-family: "Din";
  font-weight: 700;
}

:root {
  --vh: 0;
  --full-height: calc(var(--vh) * 100);
}

.light-mode {
  --main-text: #000000;
  --main-bg: #fefefe;
}

.dark-mode {
  --main-text: #e9e9e9;
  --main-bg: #1c1c1e;
}
