* {
  color: var(--main-text);
  font-family: "Din", "SourceHanSansJP";
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .is-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  .is-mobile {
    display: none !important;
  }
}

:root {
  --vh: 0;
  --full-height: calc(var(--vh) * 100);
}

.hidden {
  display: none;
}

.buttons a {
  background: var(--main-text);
  & p,
  span {
    color: var(--main-bg);
  }
}

.light-mode {
  --main-text: #000000;
  --main-light-text: #1e1e1e55;
  --main-bg: #fefefe;
  --light-bg: #dfe2eb77;
  --translucent: #00000003;
  --translucent-secondaly: #00000003;
  .is-light-theme {
    display: block;
  }
  .is-dark-theme {
    display: none;
  }
  .btn-color-twitter {
    background-color: #000;
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-twitter {
    background-color: rgba(0, 0, 0);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-instagram {
    background-color: rgba(221, 52, 123);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-bluesky {
    background-color: rgba(20, 150, 254);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-fiicen {
    background-color: rgba(86, 0, 249);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-applePodcast {
    background-color: rgba(123, 27, 186);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-youtubeMusic {
    background-color: rgba(241, 56, 85);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-spotify {
    background-color: rgba(36, 211, 78);
    & p,
    span {
      color: #fff;
    }
  }
}

.dark-mode {
  --main-text: #e9e9e9;
  --main-bg: #1c1c1e;
  --light-bg: #1c1c1e;
  --translucent: #ffffff0f;
  --translucent-secondaly: #ffffff04;
  .is-dark-theme {
    display: block;
  }
  .is-light-theme {
    display: none;
  }
  .btn-color-twitter {
    background-color: rgba(255, 255, 255);
    & p,
    span {
      color: #000;
    }
  }
  .btn-color-instagram {
    background-color: rgba(221, 52, 123);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-bluesky {
    background-color: rgba(20, 100, 254);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-fiicen {
    background-color: rgba(86, 0, 249);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-applePodcast {
    background-color: rgba(123, 27, 186);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-youtubeMusic {
    background-color: rgba(241, 56, 85);
    & p,
    span {
      color: #fff;
    }
  }
  .btn-color-spotify {
    background-color: rgb(5 200 53);
    & p,
    span {
      color: #fff;
    }
  }
}

.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px 0 #00000019;
  border: solid 3px var(--translucent-secondaly);
  background: var(--translucent);
}

::selection {
  background-color: #c6e3c0;
  color: #000000;
}
