
/* Din */
@font-face {
  font-family: "Din";
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-900-Heavy.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Din";
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-800-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Din";
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-700-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Din';
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-600-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Din';
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-500-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Din';
  src: url('/Fonts/D-DIN-PRO/D-DIN-PRO-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Source Han Sans */
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('/Fonts/SourceHanSansJP/SourceHanSansJP-Heavy.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
